@use "../healpers" as *;
/* ==== Block footer ==== */

.footer {
  padding-block: rem(60) rem(55);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(10);
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--color-dark);
    font-family: var(--font-family);
    line-height: 1.81818;
    gap: rem(180);
    padding-right: rem(39);

    a {
      @include fluid-text(22, 14);

      position: relative;
      text-decoration: none;

      @include hover {
        &::after {
          width: 100%;
        }
      }
      @include speciall-active {
        scale: 0.98;
        opacity: 0.5;
      }
    }

    a::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }

  &__copyright {
    font-weight: 500;
  }

  &__nav {
    gap: rem(28);
    font-weight: 600;

    ul {
      display: flex;
      justify-content: end;
      gap: rem(28);
      list-style: none;
      margin: 0;
    }

    li {
      padding: rem(10);
    }
  }
}

@include desktop-media {
  .footer {
    &__right {
      display: contents;
      padding-right: 0;
    }
  }
}

@include tablet-media {
  .footer {
    padding-block: rem(60) rem(20);

    .container,
    &__right {
      flex-direction: column;
      line-height: 2.85714;
    }

    &__logo {
      margin-bottom: rem(26);
    }

    &__nav {
      ul {
        gap: rem(33);
        margin-top: rem(5);
      }
    }
  }
}
/* ============================ */
/* ==== END  Block footer  ==== */
/* ============================ */
