@use "../healpers" as *;
@use "nav";
@use "mobile-menu";

/* ==== Block header ==== */
.header {
  height: var(--header-height);
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: transparent;

  animation-name: scrolling-sticky;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(50) rem(75);

  .container {
    @include flex-space-between;

    height: inherit;
  }
}

/* ============================ */
/* ==== END  Block header  ==== */
/* ============================ */
