@use "../healpers" as *;
/* ==== Utils selectors ==== */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden {
  display: none !important;
}

.hidden-mobile-s {
  @include mobile-s-media {
    display: none !important;
  }
}

.hidden-mobile-medium {
  @include mobile-medium-media {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet-media {
    display: none !important;
  }
}

.hidden-laptop {
  @include laptop-media {
    display: none !important;
  }
}

.visible-mobile-s {
  @include mobile-s-media-above {
    display: none !important;
  }
}

.visible-mobile-medium {
  @include mobile-medium-media-above {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-media-above {
    display: none !important;
  }
}

.visible-laptop {
  @include laptop-media-above {
    display: none !important;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.letters-nowrap {
  white-space: nowrap;
}

// .scroll-y {
//   overflow-y: auto;

//   &::-webkit-scrollbar {
//     // width: rem();
//     -webkit-appearance: none;
//   }

//   &::-webkit-scrollbar-track {
//     background: transparent;
//   }

//   &::-webkit-scrollbar-thumb {
//     // background: var(--);
//     border-radius: rem(6);
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     // background: var(--);
//   }

//   &::-webkit-scrollbar-button {
//     display: none;
//   }

//   scrollbar-width: thin;
//   // scrollbar-color: var(--) transparent;

//   &:hover {
//     // scrollbar-color: var(--) transparent;
//   }
// }
/* ============================== */
/* ==== END  Utils selectors ==== */
/* ============================== */
