@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями и видео
	*/
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
	 Нормализация высоты элемента ссылки при его инспектировании в DevTools
	*/
a:where([class]) {
  display: inline-flex;
}

/**
	 Курсор-рука при наведении на элемент
	*/
button,
label {
  cursor: pointer;
}

/**
	 Приводим к единому цвету svg-элементы
	 (за исключением тех, у которых уже указан
	 атрибут fill со значением 'none' или начинается с 'url')
	*/
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
	 Приводим к единому цвету svg-элементы
	 (за исключением тех, у которых уже указан
	 атрибут stroke со значением 'none')
	*/
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  transition-property: fill, stroke;
}

/**
	 Приведение рамок таблиц в классический 'collapse' вид
	*/
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-text-light: #f7f7f7;
  --color-dark: #221f1f;
  --color-dark-opasity-75: rgba(34, 31, 31, 0.75);
  --color-green: #34825b;
  --color-red: #dc5d4a;
  --color-orange: #eb671d;
  --color-lima: #e5ea90;
  --color-manga: #f3e0a6;
  --color-guarana: #efdbc3;
  --color-accent-1: var(--color-green);
  --color-accent-2: var(--color-red);
  --font-family: "ClashDisplay", sans-serif;
  --second-family: "RedHatDisplay", sans-serif;
  --container-width: 101.25rem;
  --container-padding-x: 0.625rem;
  --header-height: 5.625rem;
  --transition-duration: 0.3s;
  --top-bg-color-1: var(--color-green);
  --top-bg-color: var(--top-bg-color-1);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden {
  display: none !important;
}

@media (width <= 29.99875rem) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (width <= 35.93625rem) {
  .hidden-mobile-medium {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 81.24875rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width > 29.99875rem) {
  .visible-mobile-s {
    display: none !important;
  }
}

@media (width > 35.93625rem) {
  .visible-mobile-medium {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 81.24875rem) {
  .visible-laptop {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.letters-nowrap {
  white-space: nowrap;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7826923077rem + 0.4615384615vw, 1.25rem);
  display: flex;
  flex-direction: column;
  font-family: var(--second-family);
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
  position: relative;
  top: calc(var(--header-height) * -1);
}

h1,
.h1 {
  font-size: clamp(2.5rem, 1.5769230769rem + 4.6153846154vw, 6.25rem);
  line-height: 1;
}

h2,
.h2 {
  font-size: clamp(2.1875rem, 1.8028846154rem + 1.9230769231vw, 3.75rem);
  line-height: 1.2;
}

a,
button,
input,
textarea,
label,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

/* Animations */
@keyframes scrolling-sticky {}
/*  ===================================  */
/*  ===================================  */
.promo {
  height: 67.5rem;
}

.logo {
  width: 8.8125rem;
  height: 2rem;
}
.logo--footer {
  width: 11.4375rem;
  height: 2.5625rem;
}
.logo__image {
  width: inherit;
  height: inherit;
}
@media (any-hover: hover) {
  .logo:hover {
    filter: brightness(75%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .logo:active {
    filter: brightness(75%);
  }
}
.logo:active {
  scale: 0.98;
}

@media (width <= 47.99875rem) {
  .logo {
    width: 4.25rem;
    height: 0.9375rem;
  }
  .logo--footer {
    width: 11.4375rem;
    height: 2.5625rem;
  }
}
.nav__list {
  display: flex;
  justify-content: end;
  gap: 1.75rem;
  color: var(--color-text-light);
  font-family: var(--font-family);
  font-size: 1.375rem;
  line-height: 1.81818;
  font-weight: 600;
}
.nav__list li {
  padding: 0.625rem;
}
.nav__list a {
  position: relative;
  text-decoration: none;
}
@media (any-hover: hover) {
  .nav__list a:hover::after {
    width: 100%;
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .nav__list a:active::after {
    width: 100%;
  }
}
.nav__list a:active {
  scale: 0.98;
  filter: brightness(75%);
}
.nav__list a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}

@media (width <= 47.99875rem) {
  .nav__list {
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* ====mobile-menu==== */
#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  background-color: transparent;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  background-color: var(--color-light);
  transform: rotate(-45deg);
  top: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  transform: rotate(45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  transform: translateY(0%);
}

.mobile-menu {
  --box-color-overlay: var(--color-dark-opasity-75);
}
.mobile-menu__burger {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
}
.mobile-menu__burger::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
  z-index: 2;
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  top: 0.875rem;
  left: 0.25rem;
  border-radius: 0.4375rem;
  width: 1.4375rem;
  height: 0.125rem;
  background-color: var(--color-light);
  z-index: 2;
}
.mobile-menu__burger span::after,
.mobile-menu__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.46875rem;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: 0.4375rem;
  transition-duration: var(--transition-duration);
}
.mobile-menu__burger span::after {
  top: 0.46875rem;
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  visibility: hidden;
  opacity: 1;
  transition-duration: var(--transition-duration);
  transform: translateY(-100%);
}
.mobile-menu__box {
  padding: var(--header-height) 1.25rem 1.25rem;
  width: inherit;
  min-height: 100vh;
  background-color: var(--box-color-overlay);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}

/* ====END-mobile-menu==== */
.header {
  height: var(--header-height);
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--top-bg-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

@media (width <= 47.99875rem) {
  .header .container {
    padding-inline: 1.75rem;
  }
}
.footer {
  padding-block: 3.75rem 3.4375rem;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem;
}
.footer__right {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--color-dark);
  font-family: var(--font-family);
  line-height: 1.81818;
  gap: 11.25rem;
  padding-right: 2.4375rem;
}
.footer__right a {
  font-size: clamp(0.875rem, 0.7519230769rem + 0.6153846154vw, 1.375rem);
  position: relative;
  text-decoration: none;
}
@media (any-hover: hover) {
  .footer__right a:hover::after {
    width: 100%;
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .footer__right a:active::after {
    width: 100%;
  }
}
.footer__right a:active {
  scale: 0.98;
  opacity: 0.5;
}
.footer__right a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.footer__copyright {
  font-weight: 500;
}
.footer__nav {
  gap: 1.75rem;
  font-weight: 600;
}
.footer__nav ul {
  display: flex;
  justify-content: end;
  gap: 1.75rem;
  list-style: none;
  margin: 0;
}
.footer__nav li {
  padding: 0.625rem;
}

@media (width <= 101.24875rem) {
  .footer__right {
    display: contents;
    padding-right: 0;
  }
}
@media (width <= 63.99875rem) {
  .footer {
    padding-block: 3.75rem 1.25rem;
  }
  .footer .container, .footer__right {
    flex-direction: column;
    line-height: 2.85714;
  }
  .footer__logo {
    margin-bottom: 1.625rem;
  }
  .footer__nav ul {
    gap: 2.0625rem;
    margin-top: 0.3125rem;
  }
}

/*# sourceMappingURL=style.css.map */
