/* ==== Normolizing page ==== */
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ================================ */
/* ==== END  Normolizing page  ==== */
/* ================================ */
/* ==== Fonts ==== */
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../fonts/RedHatDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* ===================== */
/* ==== END  Fonts  ==== */
/* ===================== */
/* ==== Variables ==== */
:root {
  --color-light: #ffffff;
  --color-text-light: #f7f7f7;
  --color-dark: #221f1f;
  --color-dark-opasity-75: rgba(34, 31, 31, 0.75);
  --color-green: #34825b;
  --color-green-dark: #1b7146;
  --color-red: #dc5d4a;
  --color-orange: #eb671d;
  --color-lima: #e5ea90;
  --color-manga: #f3e0a6;
  --color-guarana: #efdbc3;
  --color-accent: var(--color-green);
  --color-accent-secondary: var(--color-orange);
  --color-accent-third: var(--color-red);
  --font-family: "ClashDisplay", sans-serif;
  --second-family: "RedHatDisplay", sans-serif;
  --border-radius: 1.875rem;
  --border-radius-extra-small: 0.3125rem;
  --border-radius-small: 0.9375rem;
  --border-radius-medium: 1.25rem;
  --border-radius-large: 3.75rem;
  --container-width: 101.25rem;
  --container-padding-x: 1.75rem;
  --header-height: 7.5rem;
  --transition-duration: 0.3s;
}
@media (width <= 47.99875rem) {
  :root {
    --header-height: 5.625rem;
  }
}
@media (width <= 26.87375rem) {
  :root {
    --container-padding-x: 0.625rem;
  }
}

/* ========================= */
/* ==== END  Variables  ==== */
/* ========================= */
/* ==== Utils selectors ==== */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden {
  display: none !important;
}

@media (width <= 26.87375rem) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (width <= 35.93625rem) {
  .hidden-mobile-medium {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 81.24875rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width > 26.87375rem) {
  .visible-mobile-s {
    display: none !important;
  }
}

@media (width > 35.93625rem) {
  .visible-mobile-medium {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 81.24875rem) {
  .visible-laptop {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.letters-nowrap {
  white-space: nowrap;
}

/* ============================== */
/* ==== END  Utils selectors ==== */
/* ============================== */
/* ==== Globals styles ==== */
html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7667785235rem + 0.4026845638vw, 1.25rem);
  display: flex;
  flex-direction: column;
  font-family: var(--second-family);
  color: var(--color-dark);
  background-color: var(--color-light);
}
body:has(#menu-switch:checked) {
  overflow: hidden;
}

main {
  flex-grow: 1;
  position: relative;
}

h1,
.h1,
h2,
.h2 {
  font-family: var(--font-family);
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(2.5rem, 1.4177852349rem + 4.0268456376vw, 6.25rem);
  line-height: 1;
}

h2,
.h2 {
  font-size: clamp(2.1875rem, 1.7365771812rem + 1.677852349vw, 3.75rem);
  line-height: 1.2;
}

a,
button,
input,
textarea,
label,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.accent-color {
  color: var(--color-accent);
}

.secondary-accent-color {
  color: var(--color-accent-secondary);
}

/* ============================ */
/* ==== END Globals styles ==== */
/* ============================ */
/* === Animations ===*/
@keyframes scrolling-sticky {
  to {
    box-shadow: 0 0 10rem 1rem var(--color-dark-opasity-75);
    background-color: var(--color-green);
  }
}
/*  ======================= */
/* ==== END Animations ==== */
/*  ======================= */
/* ==== Logo styles ==== */
.logo {
  width: 8.8125rem;
  height: 2rem;
}
.logo--footer {
  width: 11.4375rem;
  height: 2.5625rem;
}
.logo__image {
  width: inherit;
  height: inherit;
}
@media (any-hover: hover) {
  .logo:hover {
    filter: brightness(75%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .logo:active {
    filter: brightness(75%);
  }
}
.logo:active {
  scale: 0.98;
}

@media (width <= 47.99875rem) {
  .logo {
    width: 4.25rem;
    height: 0.9375rem;
  }
  .logo--footer {
    width: 11.4375rem;
    height: 2.5625rem;
  }
}
/* ========================= */
/* ====END  Logo styles ==== */
/* ========================= */
/* ===  Buttons styles === */
.button {
  font-family: var(--font-family);
  padding-block: 1.625rem;
  padding-inline: 5.96875rem;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.6;
  background-color: var(--color-accent);
  color: var(--color-light);
  border-radius: var(--border-radius-large);
}
@media (any-hover: hover) {
  .button:hover {
    filter: brightness(80%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .button:active {
    filter: brightness(80%);
  }
}
.button:active {
  scale: 0.97;
  filter: brightness(60%);
}

/* === Navigation block === */
.nav__list {
  display: flex;
  justify-content: end;
  gap: 1.75rem;
  color: var(--color-text-light);
  font-family: var(--font-family);
  font-size: 1.375rem;
  line-height: 1.81818;
  font-weight: 600;
}
.nav__list li {
  padding: 0.625rem;
}
.nav__list li:first-child {
  padding-inline: 1.75rem;
}
.nav__list a {
  position: relative;
  text-decoration: none;
}
@media (any-hover: hover) {
  .nav__list a:hover::after {
    width: 100%;
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .nav__list a:active::after {
    width: 100%;
  }
}
.nav__list a:active {
  scale: 0.98;
  filter: brightness(75%);
}
.nav__list a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}

@media (width <= 47.99875rem) {
  .nav__list {
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* ====mobile-menu==== */
#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  background-color: transparent;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  background-color: var(--color-light);
  transform: rotate(-45deg);
  top: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  transform: rotate(45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  transform: translateY(0%);
}

.mobile-menu {
  --box-color-overlay: var(--color-dark-opasity-75);
}
.mobile-menu__burger {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
}
.mobile-menu__burger::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
  z-index: 2;
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  top: 0.875rem;
  left: 0.25rem;
  border-radius: 0.4375rem;
  width: 1.4375rem;
  height: 0.125rem;
  background-color: var(--color-light);
  z-index: 2;
}
.mobile-menu__burger span::after,
.mobile-menu__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.46875rem;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: 0.4375rem;
  transition-duration: var(--transition-duration);
}
.mobile-menu__burger span::after {
  top: 0.46875rem;
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  visibility: hidden;
  opacity: 1;
  transition-duration: var(--transition-duration);
  transform: translateY(-100%);
}
.mobile-menu__box {
  padding: var(--header-height) 1.25rem 1.25rem;
  width: inherit;
  min-height: 100vh;
  background-color: var(--box-color-overlay);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}

/* ==== Block header ==== */
.header {
  height: var(--header-height);
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: transparent;
  animation-name: scrolling-sticky;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 3.125rem 4.6875rem;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

/* ============================ */
/* ==== END  Block header  ==== */
/* ============================ */
/* === Promo slider's navigations === */
.promo-swiper {
  position: relative;
}
.promo-swiper__pagination {
  position: absolute;
  bottom: 3.5625rem;
  left: calc(50% - 805px);
  z-index: 10;
  display: flex;
  justify-content: start;
  gap: 0.6875rem;
}
.promo-swiper__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-green-dark);
  width: 4.6875rem;
  height: 3.75rem;
  border-radius: var(--border-radius-extra-small);
}
.promo-swiper__btn svg {
  width: 2rem;
  height: 1.375rem;
  fill: var(--color-light);
}
@media (any-hover: hover) {
  .promo-swiper__btn:hover {
    filter: brightness(90%);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .promo-swiper__btn:active {
    filter: brightness(90%);
  }
}
.promo-swiper__btn:active {
  scale: 0.9;
}

@media (width <= 104.37375rem) {
  .promo-swiper {
    position: relative;
  }
  .promo-swiper__pagination {
    left: var(--container-padding-x);
  }
}
/* ==== Section promo ==== */
.promo {
  background-color: var(--color-accent);
  padding-top: var(--header-height);
  overflow: hidden;
}
.promo .container {
  padding-block: clamp(0rem, -0.360738255rem + 1.3422818792vw, 1.25rem) 0;
  position: relative;
  display: flex;
  gap: clamp(1.0625rem, 0.5394295302rem + 1.9463087248vw, 2.875rem);
  color: var(--color-text-light);
}
.promo__body {
  position: relative;
  margin-block: 2.5rem 0;
  width: 100%;
}
.promo__body-image {
  height: clamp(4.9375rem, 3.7470637584rem + 4.4295302013vw, 9.0625rem);
  width: clamp(4.9375rem, 3.7470637584rem + 4.4295302013vw, 9.0625rem);
  margin-block: 0 2.5rem;
}
.promo__body-decor {
  position: absolute;
  left: 100%;
  top: 0;
  translate: -100% 0;
  height: clamp(3rem, 2.3326342282rem + 2.4832214765vw, 5.3125rem);
  width: clamp(3rem, 2.3326342282rem + 2.4832214765vw, 5.3125rem);
}
.promo__title {
  max-width: 48.0625rem;
  padding-inline: 0 clamp(3rem, 2.3326342282rem + 2.4832214765vw, 5.3125rem);
  margin-block: 0 0.875rem;
}
.promo__subtitle {
  font-size: clamp(1rem, 0.567114094rem + 1.610738255vw, 2.5rem);
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 2.2;
  text-transform: uppercase;
  margin-block: 0 0.625rem;
}
.promo__text {
  font-weight: 800;
  line-height: 1.5;
  max-width: 26.5625rem;
}
.promo__figure {
  position: relative;
  max-width: 40.0625rem;
  width: 100%;
  display: flex;
  justify-self: end;
  padding-inline: 4.375rem 0;
}
.promo__figure-image {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  height: clamp(32.5rem, 24.9244966443rem + 28.1879194631vw, 58.75rem);
}
.promo__figure-text {
  font-size: clamp(1.875rem, 1.514261745rem + 1.3422818792vw, 3.125rem);
  position: absolute;
  bottom: 35%;
  rotate: -90deg;
  right: 57%;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.06em;
  text-align: center;
  color: transparent;
  white-space: nowrap;
  opacity: 0.5;
  -webkit-text-stroke: 0.09375rem var(--color-light);
}
.promo__decor {
  position: absolute;
  top: 35%;
  left: 57%;
  translate: -100%;
  width: 26.6875rem;
  height: 26.5625rem;
}

@media (width <= 104.37375rem) {
  .promo__title {
    font-size: clamp(2.5rem, 1.5981543624rem + 3.355704698vw, 5.625rem);
  }
  .promo__decor {
    width: clamp(7.9375rem, 4.817114094rem + 11.610738255vw, 18.75rem);
    height: clamp(7.9375rem, 4.817114094rem + 11.610738255vw, 18.75rem);
    left: 47%;
  }
}
@media (width <= 81.24875rem) {
  .promo__title {
    font-size: clamp(2.5rem, 1.9588926174rem + 2.0134228188vw, 4.375rem);
  }
  .promo__decor {
    top: 30%;
  }
}
@media (width <= 63.99875rem) {
  .promo .container {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .promo__body {
    display: flex;
    flex-direction: column;
    margin-block: 0;
  }
  .promo__body-image {
    position: relative;
    order: 1;
    align-self: center;
    left: 16%;
    margin-block: 0;
  }
  .promo__body-decor {
    left: 96%;
    top: 100%;
  }
  .promo__title {
    max-width: unset;
    padding-inline: unset;
    line-height: 1.15;
    margin-block: 0 1rem;
  }
  .promo__subtitle {
    margin-block: 0 0.3125rem;
  }
  .promo__text {
    margin-block: 0 2rem;
    max-width: unset;
  }
  .promo__figure {
    padding-inline: 0;
  }
  .promo__decor {
    top: 27%;
    left: 36%;
  }
}
/* ============================= */
/* ==== END  Section promo  ==== */
/* ============================= */
/* ==== Section progress ==== */
.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(3.25rem, 2.6006711409rem + 2.4161073826vw, 5.5rem);
  padding-block: clamp(5.5rem, 4.8687080537rem + 2.3489932886vw, 7.6875rem) 9rem;
}
.progress__image {
  position: relative;
  top: -1.125rem;
  max-width: 13.75rem;
  width: 100%;
  height: clamp(6.125rem, 4.6459731544rem + 5.5033557047vw, 11.25rem);
}
.progress__button {
  position: relative;
  top: -0.625rem;
}

@media (width <= 104.37375rem) {
  .progress {
    position: relative;
    flex-direction: column;
    text-align: center;
  }
  .progress__image {
    position: absolute;
    bottom: 0;
    top: unset;
    left: 100%;
    translate: -100% 0;
  }
  .progress__button {
    top: unset;
  }
}
@media (width <= 47.99875rem) {
  .progress {
    overflow: hidden;
  }
  .progress__image {
    left: calc(100% + 4.0625rem);
  }
}
/* ================================ */
/* ==== END  Section progress  ==== */
/* ================================ */
/* ==== Block footer ==== */
.footer {
  padding-block: 3.75rem 3.4375rem;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem;
}
.footer__right {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--color-dark);
  font-family: var(--font-family);
  line-height: 1.81818;
  gap: 11.25rem;
  padding-right: 2.4375rem;
}
.footer__right a {
  font-size: clamp(0.875rem, 0.730704698rem + 0.5369127517vw, 1.375rem);
  position: relative;
  text-decoration: none;
}
@media (any-hover: hover) {
  .footer__right a:hover::after {
    width: 100%;
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .footer__right a:active::after {
    width: 100%;
  }
}
.footer__right a:active {
  scale: 0.98;
  opacity: 0.5;
}
.footer__right a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.footer__copyright {
  font-weight: 500;
}
.footer__nav {
  gap: 1.75rem;
  font-weight: 600;
}
.footer__nav ul {
  display: flex;
  justify-content: end;
  gap: 1.75rem;
  list-style: none;
  margin: 0;
}
.footer__nav li {
  padding: 0.625rem;
}

@media (width <= 104.37375rem) {
  .footer__right {
    display: contents;
    padding-right: 0;
  }
}
@media (width <= 63.99875rem) {
  .footer {
    padding-block: 3.75rem 1.25rem;
  }
  .footer .container, .footer__right {
    flex-direction: column;
    line-height: 2.85714;
  }
  .footer__logo {
    margin-bottom: 1.625rem;
  }
  .footer__nav ul {
    gap: 2.0625rem;
    margin-top: 0.3125rem;
  }
}
/* ============================ */
/* ==== END  Block footer  ==== */
/* ============================ */

/*# sourceMappingURL=style.css.map */
