// connecting general scss files
@use "./base/normolize";
@use "./base/fonts";
@use "./base/variables";
@use "./base/utils";
@use "./base/globals";
@use "./base/animation";
//common-blocks
// @use "./blocks/common-blocks/logo";
// @use "./blocks/common-blocks/button";
// @use "./blocks/common-blocks/section";
//blocks
@use "./blocks/header/header";
// .header,
// main > *:not(:last-child),
// .footer {
//   display: none !important;
// }

.font-family {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
}
.second-family {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 100px;
}
